/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: #222;
    color: #f6f6f6;
<<<<<<< HEAD:Twitter-card/src/index.css
    font-family: 'system-ui','sans-serif';
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.tw-section-followCard{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
=======
    display: grid;
    place-content: center;
    min-height: 100vh;
>>>>>>> 605965c (empezamos a crear y estilar el primer componente):src/index.css
}